<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Shoezap !</title>
    <link rel="icon" href="/images/logo.png">
</head>
<body>
    <nav>
        <div class="wrapper">
            <div class="appname" data-aos="fade-right">
                Shoezap!
            </div>
           
        
    </nav>
    <section>
        <div class="content">
            <h1>Find Your Perfect Pair of <span>Shoes</span></h1>
            <p>Discover our wide range of stylish and comfortable shoes that cater to every occasion. From casual wear to formal events, we have the perfect pair for you. Explore our collection and step out in style!</p>
            <button data-aos="zoom-in"><a href="/chat">Chat with us now!</a>
            </button>
        </div>
        <div class="image" data-aos="fade-left">
            <div class="box nike_yellow_sneaker"><img src="/images/nike_yellow_sneaker.png" alt="Nike Yellow Sneaker"></div>
            <div class="box nike_black_air_jordan"><img src="/images/nike_balck_air_jorden.png" alt="Nike Black Air Jordan"></div>
            <div class="box nike_black_basketball_shoe"><img src="/images/nike_white-pink_wrestling_shoe.png" alt="Nike Black Basketball Shoe"></div>
            <div class="box nike_black_golf_shoe"><img src="/images/nike_black_golf_shoe.png" alt="Nike Black Golf Shoe"></div>
            <div class="box nike_black_soccer_shoe"><img src="/images/nike_black_soccor_shoe.png" alt="Nike Black Soccer Shoe"></div>
            <div class="box nike_white-green_jorden"><img src="/images/nike_white-green_jorden.png" alt="Nike White-Green Jorden"></div>
            <div class="box nike_black_tennis_shoe"><img src="/images/nike_black_tennis_shoe.png" alt="Nike Black Tennis Shoe"></div>
            <div class="box nike_blue-white_sneaker"><img src="/images/nike_blue-white_sneaker.png" alt="Nike Blue-White Sneaker"></div>
            <div class="box nike_blazer_court_shoe"><img src="/images/nike_white_purple_orange_jordan.png" alt="Nike Blazer Court Shoe"></div>
            <div class="box nike_green_golf_shoe"><img src="/images/nike_green_golf_shoe.png" alt="Nike Green Golf Shoe"></div>
            <div class="box nike_green_tennis_shoe"><img src="/images/nike_green_tennis_shoe.png" alt="Nike Green Tennis Shoe"></div>
            <div class="box nike_men_workout_shoe"><img src="/images/nike_womens_purple_shoe.png" alt="Nike Men Workout Shoe"></div>
            <div class="box nike_orange_tennis_shoe"><img src="/images/nike_orange_tennis_shoe.png" alt="Nike Orange Tennis Shoe"></div>
            <div class="box nike_red_balck_soccer_shoe"><img src="/images/nike_white_red_black_sneaker.png" alt="Nike Red Black Soccer Shoe"></div>
        </div>
    </section>
    <div class="img-links">
        <a class="shoe-link" data-shoe="nike_yellow_sneaker"><img src="/images/nike_yellow_sneaker.png" alt="Nike Yellow Sneaker"></a>
        <a class="shoe-link" data-shoe="nike_black_air_jordan"><img src="/images/nike_balck_air_jorden.png" alt="Nike Black Air Jordan"></a>
        <a class="shoe-link" data-shoe="nike_black_basketball_shoe"><img src="/images/nike_white-pink_wrestling_shoe.png" alt="Nike Black Basketball Shoe"></a>
        <a class="shoe-link" data-shoe="nike_black_golf_shoe"><img src="/images/nike_black_golf_shoe.png" alt="Nike Black Golf Shoe"></a>
        <a class="shoe-link" data-shoe="nike_white-green_jorden"><img src="/images/nike_white-green_jorden.png" alt="Nike White-Green Jorden"></a>
        <a class="shoe-link" data-shoe="nike_black_soccer_shoe"><img src="/images/nike_black_soccor_shoe.png" alt="Nike Black Soccer Shoe"></a>
        <a class="shoe-link" data-shoe="nike_black_tennis_shoe"><img src="/images/nike_black_tennis_shoe.png" alt="Nike Black Tennis Shoe"></a>
        <a class="shoe-link" data-shoe="nike_blue-white_sneaker"><img src="/images/nike_blue-white_sneaker.png" alt="Nike Blue-White Sneaker"></a>
        <a class="shoe-link" data-shoe="nike_blazer_court_shoe"><img src="/images/nike_white_purple_orange_jordan.png" alt="Nike Blazer Court Shoe"></a>
        <a class="shoe-link" data-shoe="nike_green_golf_shoe"><img src="/images/nike_green_golf_shoe.png" alt="Nike Green Golf Shoe"></a>
        <a class="shoe-link" data-shoe="nike_green_tennis_shoe"><img src="/images/nike_green_tennis_shoe.png" alt="Nike Green Tennis Shoe"></a>
        <a class="shoe-link" data-shoe="nike_men_workout_shoe"><img src="/images/nike_womens_purple_shoe.png" alt="Nike Men Workout Shoe"></a>
        <a class="shoe-link" data-shoe="nike_orange_tennis_shoe"><img src="/images/nike_orange_tennis_shoe.png" alt="Nike Orange Tennis Shoe"></a>
        <a class="shoe-link" data-shoe="nike_red_balck_soccer_shoe"><img src="/images/nike_white_red_black_sneaker.png" alt="Nike Red Black Soccer Shoe"></a>
    </div>
    <script src="/static/js/script.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 1000,
        delay: 100   
      });
    </script>
</body>
</html>
